@charset "UTF-8";
/**
 * Normarize
 */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #d8d8d8;
  color: #333;
}

a {
  color: #069;

  &:hover {
    color: #3cf;
  }
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

/**
 * Site Header
 */
.siteHeader {
  width: 54rem;
  margin: auto;
}

/**
 * Site Title
 */
.siteTitle {
  margin: 0;
  padding: 1rem 0;
  background: linear-gradient(#333, #3cf);
  font-size: 2rem;
  text-align: center;

  a {
    color: #fff;
    text-decoration: none;
  }
}

/**
 * G Nav
 */
.gNav {
  background-color: #fff;
}

.gNav__menu {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 1rem 0;
  text-align: center;
}

.gNav__menuItem {
  flex: 1 0 25%;
  border-left: 1px solid #99f;

  &:first-child {
    border-left: none;
  }
}

/**
 * Main
 */
.main {
  width: 54rem;
  margin: auto;
  background-color: #fff;
}

/**
 * Section
 */
 .section {
  padding: 1.5rem 3rem;

  h2 {
    border-bottom: 1px dashed #ccc;
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.33rem;
  }

  p {
    margin: 0.75rem 0;
    text-align: justify;
  }
}

/**
 * Footer
 */
.footer {
  padding: 3rem 0;
  background-color: #666;
  color: #fff;
  text-align: center;
}
